.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

.DS_Store
.vscode/settings.json

__pycache__
*/__pycache__/*


data
# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/
